html{
    margin: 0;
}
span{
    display: block;
}
.button{
    border: 5px solid black;
    display: inline-block;
    width: 100px;
    height: 100px;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#purple{
      background-color: purple;

}